<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


        <hibernate-configuration>
            <session-factory>
                <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
                <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
                <property name="hibernate.connection.url">jdbc:postgresql://ec2-52-23-45-36.compute-1.amazonaws.com/degf4iol2tnp6k</property>
                <property name="hibernate.connection.username">ulniumiukwhxuj</property>
                <property name="hibernate.connection.password">65658d9d3cd725232fd3d021c1e6752865f30dd05ddc11fe265f7e3e272817cf</property>
                <property name="show_sql">false</property>
                <property name="hibernate.enable_lazy_load_no_trans">true</property>
                <property name="hbm2ddl.auto">update</property>

                <mapping class="com.alevel.servlet.models.User"/>
                <mapping class="com.alevel.servlet.models.Todo"/>
            </session-factory>
        </hibernate-configuration>

